data/ezbiocloud201805/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud.valentin/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud.valentin/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_all_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/config_db_ezbiocloud20190913.yaml filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/config_db_silva_20190826.yaml filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DADA2_DB_amp_taxonomy_King_to_Species.txt filter=lfs diff=lfs merge=lfs -text
data/unite201902/DADA2_DB_amp_taxonomy_Genus_species.txt filter=lfs diff=lfs merge=lfs -text
data/validation_datasets/DADA2 filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DADA2_DB_amp_taxonomy_King_to_Genus.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DADA2_DB_amp_taxonomy_King_to_Species.txt filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DADA2_DB_amp_taxonomy_King_to_Species.txt filter=lfs diff=lfs merge=lfs -text
data/unite201902/DADA2_DB_amp_taxonomy_King_to_Genus.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DADA2_DB_amp_taxonomy_Genus_species.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DADA2_DB_amp_taxonomy_King_to_Genus.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DADA2_DB_amp_taxonomy_King_to_Genus.txt filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DADA2_DB_amp_taxonomy_Genus_species.txt filter=lfs diff=lfs merge=lfs -text
data/unite201902/DADA2_DB_amp_taxonomy_King_to_Species.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DADA2_DB_amp_taxonomy_Genus_species.txt filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp_taxonomy_decipher_fasta.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy_dada2_prep.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy_decipher_fasta.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp_taxonomy_decipher_tax_tree.log filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp_taxonomy_dada2_prep.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy_decipher_tax_tree.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp.txt filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp_all_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp_taxonomy_decipher_fasta.log filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp_taxonomy_decipher_tax_tree.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp_taxonomy_dada2_prep.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp_taxonomy_decipher_fasta.log filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp_taxonomy_dada2_prep.log filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp_taxonomy_decipher_tax_tree.log filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/Decipher_DB_amp_taxonomy_decipher_trained_tax.rds filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/Decipher_DB_amp_taxonomy_decipher_trained_plot.pdf filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/Decipher_DB_amp_taxonomy_decipher_trained_plot.pdf filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/Decipher_DB_amp_taxonomy_decipher_trained_tax.rds filter=lfs diff=lfs merge=lfs -text
data/unite201902/Decipher_DB_amp_taxonomy_decipher_trained_plot.pdf filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/Decipher_DB_amp_taxonomy_decipher_trained_plot.pdf filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/Decipher_DB_amp_taxonomy_decipher_trained_tax.rds filter=lfs diff=lfs merge=lfs -text
data/unite201902/Decipher_DB_amp_taxonomy_decipher_trained_tax.rds filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/Readme.Md filter=lfs diff=lfs merge=lfs -text
data/unite201902/Readme.Md filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/Readme.Md filter=lfs diff=lfs merge=lfs -text
data/.snakemake/* filter=lfs diff=lfs merge=lfs -text
