data/ezbiocloud.marta/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201905/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud.valentin/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud.marta/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud.valentin/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/Silva132.201908/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201905/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/unite201902/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_all_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp.fasta filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/DB_amp_taxonomy.txt filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/original_files/EzBioCloud_16S_database_for_QIIME filter=lfs diff=lfs merge=lfs -text
data/ezbiocloud201805.201909/original_files/EzBioCloud_16S_database_for_QIIME.zip filter=lfs diff=lfs merge=lfs -text
